
<div class="box box-center well">
  <div class="box-content">
    <div class="title">Editing credentials</div>
    <%= render 'form' %>
  </div>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %>.</li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
