
<div class="container-absolute-left">
  <div class="box">
    <div class="welcome welcome-signup">
    <div class="title">Create your profile and...</div>
      <ul>
        <li>Mark your favorite matches, so you can follow what people are saying about them and get a reminder with important info before leaving to watch!</li>
        <li>Post your own comments and let people know which team you think will win the cup!</li>
        <li>Sync all your info with the Android app, so you can take all this experience on the go to the stadium!</li>
      </ul>
      It's simple and easy: just fill out your name, email and password and you're all done!
      <!-- All that's left now is to follow your team through the World Cup and get all the information necessary for a safe trip to the stadium, with easily accessible maps! And while on the go, you'll get to comment about all of it with your friends and people who ... -->
    </div>
  </div>
</div>

<div class="container-fixed-right">
  <div class="box">
    <div class="box-content">
      <div class="title">Sign up</div>
      <%= render 'form' %>
    </div>
    <% if @user.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
